<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="row">
  <div class="col-md-12 mx-auto">
    <div class="md-form">
      <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput>
      <label for="search">Search</label>
    </div>
  </div>
</div>
  <table mdbTable class="table table-sm table-striped">
  <thead>
    <tr>
      <th *ngFor="let head of headElements; let i = index" scope="col" [mdbTableSort]="crypto[i]" [sortBy]="headElements[i]"> {{head}}
        <mdb-icon fas icon="sort"></mdb-icon>
      </th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cryptoRow of crypto; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{cryptoRow.base}} </td>
      <td>${{cryptoRow.price}}</td>
      <td>{{cryptoRow.change.toString().substring(0,cryptoRow.change.indexOf(".")+4)}} %</td>
      <td scope="row"><input type="checkbox" ng-model="checkboxModel.value1"></td>
  </tr>
  </tbody>
</table>
