<div class="row">
  <div class="col-md-12 mx-auto">
    <div class="md-form">
      <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput>
      <label for="search">Search</label>
    </div>
  </div>
</div>
  <table mdbTable class="table table-sm table-striped">
  <thead>
    <tr>
      <th *ngFor="let head of headElements; let i = index" scope="col" [mdbTableSort]="crypto" [sortBy]="headElements[i]"> {{head}}
      </th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cryptoRow of crypto; let i = index" >
      <th scope="row">{{i + 1}}</th>
      <td><a class="nav-item nav-link" routerLink="specific/{{cryptoRow.base.toLowerCase()}}">{{cryptoRow.base}}</a></td>
      <td><a class="nav-item nav-link" routerLink="specific/{{cryptoRow.base.toLowerCase()}}">${{cryptoRow.price}}</a></td>
      <td><a class="nav-item nav-link" routerLink="specific/{{cryptoRow.base.toLowerCase()}}">{{cryptoRow.change.toString().substring(0,cryptoRow.change.indexOf(".")+4)}} %</a></td>
      <td scope="row"><input name={{cryptoRow.base}} type="checkbox" (change)="checked(cryptoRow, $event)"  id="cryptoRow{{i}}"> </td>
  </tr>
  </tbody>
</table>